.linea-azul {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #063971;
    margin: 20px 0; /* Espaciado más claro */
}



.fisicash2 {
    text-align: center;  /* Centra el título */
    margin-top: 0;       /* Elimina el margen superior */
    color: white;
}

.contenedor1 {
    width: 100%;  /* Ocupará el ancho total sin generar desplazamiento */
    max-width: 100%; /* Asegura que no se pase del ancho de la pantalla */
    border-bottom: 2px solid #063971;
    display: flex;               /* Activa Flexbox */
    flex-direction: column;      /* Coloca los elementos en columna */
    align-items: center;         /* Centra los elementos horizontalmente */
    gap: 20px;                   /* Espacio entre los elementos */
    margin-top: 20px;
}

h4 {
    text-align: center;          /* Centra el h4 */
    margin: 0;                    /* Elimina el margen */
}

.contenido {
    display: flex;
    justify-content: center;  /* Centra los elementos en el contenedor */
    align-items: center;      /* Alinea verticalmente */
    gap: 20px;               /* Ajusta la separación entre el texto y la imagen */
    width: 80%;               /* Reduce el ancho del contenido para evitar excesiva separación */
}

.texto {
    display: flex;
    flex-direction: column;  
    gap: 5px;               
    width: 45%;               /* Reduce el ancho del texto para evitar excesiva separación */
    text-align: center;  
}

.imagen {
    width: 180px; /* Un poco más pequeña para mejor ajuste */
    height: auto;
}


.imagen img {
    width: 180px;  /* Tamaño fijo para todas */
    height: 180px; /* Forzar altura para evitar que unas sean más grandes que otras */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}


.s{
    text-decoration: underline;
}
