* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; /* Asegura que el body y html ocupen toda la altura de la pantalla */
}

section {
    display: flex;
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 100vh; /* Hace que la sección ocupe toda la altura de la ventana */
    text-align: center;
    padding-top: 20px; /* Agrega espacio arriba para subir el contenido */
    justify-content: flex-start; /* Alinea los elementos hacia la parte superior */
}

.quienesSomosh2 {
    text-align: center;
    margin-bottom: 20px; /* Un poco de espacio debajo del título */
    color: white;
}

.textoPrincipal {
    width: 60%; /* Ajusta el ancho según sea necesario */
    max-width: 900px; /* Limita el ancho máximo */
    text-align: center; /* Centra el texto dentro del contenedor */
    line-height: 1.6; /* Mejora la legibilidad */
    margin: 0 auto; /* Asegura que el contenedor esté centrado horizontalmente */
    height: auto; /* Elimina la altura fija para que se ajuste al contenido */
}

.videoContainer {
    width: 100%;  /* Hace que el video ocupe todo el ancho disponible */
    max-width: 1000px; /* Puedes ajustar este valor según el diseño, lo aumenta a un máximo de 1000px */
    margin: 0 auto; /* Centra el video en la página */
    padding: 20px 0; /* Espacio arriba y abajo del video */
}

iframe {
    width: 100%; /* Hace que el iframe ocupe el 100% del contenedor */
    height: 600px; /* Ajusta la altura para hacer el video más grande */
}
.mapaContainer iframe {
    width: 600px; /* Ajusta el ancho */
    height: 300px; /* Ajusta la altura */
}

.ubicacionh2{
    color: white;
}

