.formulario-container {
    padding: 20px;
    text-align: center;
}

.formulario-informacion {
    width: 60%; /* Ajusta el tamaño del formulario */
    margin: 0 auto; /* Centra el formulario */
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.fila input, .fila select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

.fila select option {
    color: black;
}

.email-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.boton {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #007bff;
}

.tituloinformacion {
    color: white;
    margin-bottom: 20px;
}
