.resumen-compra {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 8px;
    color: black; /* Asegura que todo el texto sea negro */
  }
  
  .producto-info {
    display: flex;
    margin-bottom: 20px;
  }
  
  .producto-info img {
    width: 150px;
    margin-right: 20px;
  }
  
  .compra-detalles {
    display: flex;
    flex-direction: column;
  }
  
  .compra-detalles div {
    margin-bottom: 10px;
  }
  
  .compra-detalles label {
    font-weight: bold;
    color: black; /* Texto de los labels en negro */
  }
  
  .compra-detalles input, 
  .compra-detalles select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black; /* Texto de los campos de entrada en negro */
  }
  
  .compra-detalles select {
    color: black; /* Asegura que los valores dentro del select también sean negros */
  }
  .compra-detalles select option {
    color: black; /* Asegura que el color de las opciones dentro del select sea negro */
  }
  
  .producto-info p {
    font-size: 18px;
    font-weight: bold;
    color: black; /* Título del precio del libro en negro */
  }
  
  .producto-info h3 {
    font-size: 20px;
    font-weight: bold;
    color: black; /* Título del libro en negro */
  }
  
  .btn-compra {
    padding: 10px 20px;
    background-color: #063971;;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn-compra:hover {
    background-color: #2c3c4d;;
  }
  
  .titulo {
    color: white; /* Título de la sección en negro */
  }
  .producto-info p strong {
    color: black; /* Cambia el color de la palabra "Precio" a negro */
  }
  .total{
    color: black;
  }
  .totalp{
    color: black;
  }
  /* Estilos para el mensaje */
.mensaje {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  /* Mensaje de error en negro */
  .error {
    color: black;
    font-weight: bold;
  }
  
  /* Mensaje de éxito, por si acaso quieres agregar uno */
  .exito {
    color: green;
  }
  