/* Estilos generales para el contenedor */
.sobre-nosotros-container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: black;
}

/* Estilos para el header de la sección */
.header-section {
    margin-bottom: 30px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
}

.tituloqnsomos {
    font-size: 2rem;
    color: black

}
.texto-principal p{
    color: white;
}

.descripcion {
    font-size: 1.2rem;
    color:black;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilos para la sección de contenido */
.contenido-seccion {
    margin-bottom: 40px;
}

.texto-principal {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}

/* Sección de video y ubicación en la misma línea */
.video-ubicacion-seccion {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.video-container {
    flex: 1;
    max-width: 48%;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
}

.ubicacion-container {
    flex: 1;
    max-width: 48%;
    
}

.ubicacion-titulo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.direccion {
    font-size: 1.1rem;
    color: white;
    margin: 10px 0;
}

/* Estilos para el mapa */
.mapa-container {
    margin-top: 20px;
    border-radius: 15px;
    overflow: hidden;
}

/* Asegurarse de que los iframes de video y mapa tengan un estilo apropiado */
iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.reseñas-seccion {
    margin-top: 50px;
    background-color: black;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
}

.reseñas-titulo {
    color: white;
    margin-bottom: 25px;
}

.reseñas-contenedor {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reseña {
    background-color: #fbfcfd;
    border-left: 4px solid #0055aa;
    padding: 15px 20px;
    border-radius: 10px;
    color:black;
    max-width: 800px;
    margin: 0 auto;
}

.reseña-texto {
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 10px;
}

.reseña-autor {
    text-align: right;
    font-weight: bold;
    color:black;
}
